body {
    font-family: 'Verbana', sans-serif;
    color: #ffffff;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.width {
    width: max-width: 848;

}
.header {
   // max-width: 848px;
    text-align: left;
    padding-top: 49px;
    padding-bottom: 45px;
}


.header-left-part {}

.header-logo {
    width: 46px;
    height: 44px;
    margin-right: 15px;
    display: inline-block;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo-text {
    display: inline-block;
    font-family: Verdana;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

span {
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    display: inline-block;
}

.contacts-link {
    /*display: inline-block;
    float: right;*/
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.number {
    display: inline-block;
    float: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}

.tours {}

.tour {
    display: inline-block;
    margin-right: 69px;
    margin-bottom: 55px;
}

.img-tour {
    width: 307px;
    height: 200px;
}

.tour-price {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
}

.tour-details {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}

.footer {
    margin-bottom: 20px;
}
