* {
    margin: 0;
    padding: 0;
}
body {
   font-family: 'Roboto', sans-serif; 
    width: 1280px;
    letter-spacing: 2px; 
}
.header {
    padding-top: 32px;
    padding-bottom: 32px;
    background: white;
    padding-left:  auto;
    padding-right: auto;
    text-align: center;    
}
.menu-top {    
    display: inline-block;
   // margin-right: 65px;
    
   // margin-right: auto;
    //margin-left: auto;    
}
.menu-top-link {
    display: inline-block;
    font-family: Roboto;
    color: #16a085;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    //line-height: 400px;   
    margin-right: 78px;
}

.myImage {
    width: 1280px;
    height: 790px;
}
.fone {   
    background-color: #f5f6f7;
    padding-top: 59px;
    padding-bottom: 94px;
    text-align: center;
}
.fone-header { 
    font-size: 22px;
    color: #373737;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 34px;
    letter-spacing: 2px;
}
.container-text {
   max-width: 1059px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    text-align: center;
    margin-bottom: 34px;
}
.button {
    border-radius: 6px;
    background-color: #16a085;
    width: 192px; 
    height: 51px;    
    //display: block;
    color: #ffffff;
    font-size: 12px;   
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;   
}
.footer {
    height: 108px;
    text-align: right;
    padding-top: 47px;
    padding-bottom: 45px;
}
.footer-text {
    font-size: 16px;
    font-weight: 900;
    margin-right: 104px;
    line-height: 108px;    
}

