body {
    margin: 24px 30px 32px 22px;
    background-color: rgb(55, 71, 101);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;

    background-color: #fafafa;
}

td, th, tf {
    background-color: #eeeeee;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    padding-top: 29px;
    padding-bottom: 27px;
    text-align: center;
}

h5 {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Arimo;
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
tr:nth-child (odd) {
    background: #f2f2f2;
}
tr:nth-child (even) {
    background: #e3e3e3;
}

tbody {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
    padding-bottom: 28px;
    text-transform: uppercase;
}

td {
    padding-top: 29px;
    padding-bottom: 27px;
    text-align: center;
}

.buy {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding: 19px 44px 17px 45px;
    background-color: #16736f;
    border-radius: 5px;
}
